<div class="main">
  <div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="title"
          class="form-control"
          id="title"
          aria-describedby="title text"
          name="title"
          placeholder="{{ post.title }}"
          [minlength]="8"
          [(ngModel)]="post.title"
          required
        />
        <label for="title" class="form-label">Poster</label>
        <input
          type="poster"
          class="form-control"
          id="poster"
          aria-describedby="poster link"
          name="poster"
          placeholder="{{ post.poster }}"
          [(ngModel)]="post.poster"
          required
        />
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea
          type="text"
          class="form-control"
          id="body"
          name="body"
          placeholder="{{ post.body }}"
          [minlength]="20"
          [(ngModel)]="post.body"
          required
        >
        {{ post.body }}
        </textarea>
      </div>

      <button type="submit" class="btn submit" [disabled]="form.invalid">
        Edit
      </button>
    </form>
  </div>
</div>
