:host {
  > div {
    background-color: var(--colore-navbar);
    nav {
      height: 62px;
      div#navbarNav {
        background-color: var(--colore-navbar);
        padding-left: 10px;
      }
      li {
        font-size: 1.2em;
        a {
          color: var(--color-text);
        }
      }
      button {
        color: var(--colore-delete);
        border: solid 2px var(--colore-delete);
        background-color: var(--colore-active);
        font-size: 0.8em;
      }
      button:hover {
        background-color: var(--colore-delete);
        color: white;
      }
      .nav-link.active {
        color: var(--colore-active);
      }
    }
  }
}
