:host {
  > div {
    background-color: var(--colore-navbar);
    nav {
      form {
        background-color: VAR(--colore-form);
        padding: 5px;
        border-radius: 3px;
      }
      height: 62px;
      div#navbarNav {
        background-color: var(--colore-navbar);
        padding-left: 10px;
      }
      li {
        font-size: 1.2em;
        a {
          color: var(--color-text);
        }
      }
      button {
        color: var(--colore-delete);
        border: solid 2px var(--colore-delete);
        background-color: var(--colore-active);
        font-size: 0.8em;
      }
      button:hover {
        background-color: var(--colore-delete);
        color: white;
      }
      .nav-link.active {
        color: var(--colore-active);
      }
    }
  }
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
