<img
  id="logo"
  src="../../../assets/img/BWPost-Logo2.png"
  alt="logo BWT Post"
  class="nascosto"
/>

<div class="main to-show" id="main">
  <div class="container pt-5">
    <ng-container *ngFor="let post of postSearch">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ post.poster }}"
              class="img-fluid rounded-start h-100 object-fit-cover rounded"
              alt="img of reading"
            />
          </div>
          <div class="col-md-8">
            <div
              class="card-body h-100 d-flex flex-column justify-content-around"
            >
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">
                {{ post.body }}
              </p>
              <p class="card-text" *ngIf="post.user">
                {{ post.user.name }}
              </p>
              <div class="d-flex justify-content-between">
                <div>
                  <p>{{ post.views }}{{ post.like }}{{ post.comments }}</p>
                </div>
                <div>
                  <a
                    [routerLink]="['/detail/' + post.id]"
                    routerLinkActive="active"
                    class="btn btn-outline view"
                    >View</a
                  >
                  <ng-container *ngIf="post.userId === userId">
                    <a
                      [routerLink]="['/edit/' + post.id]"
                      routerLinkActive="active"
                      class="btn btn-outline ms-2 edit"
                      >Edit</a
                    >
                    <a
                      class="btn btn-outline ms-2 delete"
                      (click)="deletePost(post.id)"
                      >Delete</a
                    >
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
