<div class="main">
  <div class="container pt-5">
    <div *ngFor="let post of elencoArticoli">
      <div class="card mb-3 bg-blur">
        <div class="card-header">Post</div>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text text-truncate">
            {{ post.body }}
          </p>
          <div>
            <a
              [routerLink]="['/detail/' + post.id]"
              routerLinkActive="active"
              class="btn btn-outline view"
              >View</a
            >
            <ng-container *ngIf="post.userId === userId">
              <a
                [routerLink]="['/edit/' + post.id]"
                routerLinkActive="active"
                class="btn btn-outline ms-2 edit"
                >Edit</a
              >
              <a
                class="btn btn-outline ms-2 delete"
                (click)="deletePost(post.id)"
                >Delete</a
              >
            </ng-container>
          </div>
        </div>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Comments">
            <ng-template ngbPanelContent>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let comment of post.comments">
                  <small class="text-body-secondary">
                    {{ comment.user.name }}
                  </small>
                  <p>{{ comment.body }}</p>
                </li>
              </ul>

            </ng-template>
          </ngb-panel>

        </ngb-accordion> 
        
      </div>
    </div>
  </div>
</div>
