<div class="main">
  <div class="container pt-5">
    <div *ngFor="let post of elencoArticoli">
      <div class="card mb-3 bg-blur">
        <div class="card-header">Post</div>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">
            {{ post.body }}
          </p>
          <!-- temporary ngIf condition until there will be logged-in user information -->
          <div *ngIf="post.id % 2 === 1">
            <a
              [routerLink]="['/detail/' + post.id]"
              routerLinkActive="active"
              class="btn btn-outline view"
              >View</a
            >
            <a
              [routerLink]="['/edit/' + post.id]"
              routerLinkActive="active"
              class="btn btn-outline ms-2 edit"
              >Edit</a
            >
            <a href="#" class="btn btn-outline ms-2 delete">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
