<div class="main">
  <div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="title"
          class="form-control"
          id="title"
          aria-describedby="title text"
          placeholder="title"
          name="title"
          [minlength]="8"
          ngModel
          required
        />
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea
          type="text"
          class="form-control"
          id="body"
          name="body"
          placeholder="body"
          [minlength]="20"
          ngModel
          required
        >
        </textarea>
      </div>

      <button type="submit" class="btn submit" [disabled]="form.invalid">
        Create
      </button>
    </form>
  </div>
</div>
