:host {
  .main {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    background-color: #7f7f7f10;
  }
  a {
    color: var(--colore-active);
    text-decoration: none;
  }
}
